CLOUDFLARE_ACCOUNT_ID="" # Cloudflare Account ID
CLOUDFLARE_DATABASE_ID="" # Cloudflare D1 Database ID
CLOUDFLARE_D1_TOKEN="" # Cloudflare D1 Token (https://developers.cloudflare.com/fundamentals/api/get-started/create-token/)
