@layer base {
	:root {
		color-scheme: light;

		/* Primitive Colors (Do not change between light and dark) */
		--white: oklch(100% 0 0);
		--black: oklch(0% 0 0);
		--snow: oklch(0.9911 0 0);
		--eclipse: oklch(0.2221 0 0);

		/* Spacing scale */
		--spacing: 0.25rem;

		/* Border */
		--border-width: 1px;
		--field-border-width: var(--border-width);
		--disabled-opacity: 0.5;

		/* Radius */
		--radius: 0.5rem;
		--field-radius: calc(var(--radius) * 1.5);

		/* Panel specific radius */
		--radius-panel: 0.5rem;
		--radius-panel-inner: calc(var(--radius-panel) * 0.5);

		/* Small radius for compact components */
		--radius-sm: 0.375rem;

		/* Ring offset - Used for focus ring */
		--ring-offset-width: 2px;

		/* Typography */
		--font-size-base: 1rem;
		--font-size-scale-desktop: 0.875;
		--font-weight-medium: 500;
		--font-weight-semibold: 600;

		/* Cursor */
		--cursor-interactive: pointer;
		--cursor-disabled: not-allowed;

		/* Base Colors */
		--background: var(--white);
		--foreground: var(--eclipse);
		--panel: var(--white);
		--panel-foreground: var(--foreground);

		--muted: var(--color-neutral-500);

		--scrollbar: var(--color-neutral-300);

		--default: var(--color-neutral-50);
		--default-foreground: var(--eclipse);

		--surface-1: var(--background);
		--surface-2: var(--color-neutral-100);
		--surface-3: var(--color-neutral-200);

		--accent: var(--color-neutral-950);
		--accent-foreground: var(--snow);

		--accent-soft: var(--color-neutral-200);
		--accent-soft-foreground: var(--color-neutral-900);

		/* Form Field Defaults */
		--field-background: var(--default);
		--field-foreground: var(--foreground);
		--field-placeholder: var(--muted);
		--field-border: var(--border);

		/* Status Colors */
		--success: oklch(59.6% 0.145 163.225);
		--success-foreground: oklch(100% 0 0);
		--success-soft: oklch(69.6% 0.17 162.48 / 0.15);
		--success-soft-foreground: oklch(50.8% 0.118 165.612);

		--warning: oklch(82.8% 0.189 84.429);
		--warning-foreground: oklch(27.9% 0.077 45.635);
		--warning-soft: oklch(82.8% 0.189 84.429 / 0.2);
		--warning-soft-foreground: oklch(55.5% 0.163 48.998);

		--danger: oklch(57.7% 0.245 27.325);
		--danger-foreground: oklch(97.1% 0.013 17.38);
		--danger-soft: oklch(63.7% 0.237 25.331 / 0.15);
		--danger-soft-foreground: oklch(50.5% 0.213 27.518);

		--info-soft: oklch(68.5% 0.169 237.323 / 0.15);
		--info-soft-foreground: oklch(50% 0.134 242.749);

		/* Component Colors */
		--segment: var(--white);
		--segment-foreground: var(--foreground);

		/* Misc Colors */
		--border: oklch(0 0 0 / 15%);
		--divider: var(--color-neutral-200);
		--focus: oklch(0% 0 0 / 20%);
		--link: var(--foreground);

		/* Shadows */
		--panel-shadow:
			0 0 1px 0 rgba(0, 0, 0, 0.3) inset, 0 2px 8px 0 rgba(0, 0, 0, 0.08);
		/* Shadow used for form fields */
		--field-shadow:
			0 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		--mini-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
		--mini-shadow-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;

		/* Skeleton Default Global Animation */
		--skeleton-animation: shimmer; /* shimmer, pulse, none */
	}

	.dark,
	[data-theme="dark"] {
		color-scheme: dark;

		/* Base Colors */
		--background: var(--black);
		--foreground: var(--snow);
		--panel: var(--eclipse);

		--muted: var(--color-neutral-400);

		--scrollbar: var(--color-neutral-800);

		--default: var(--color-neutral-900);
		--default-foreground: var(--snow);

		--surface-1: var(--background);
		--surface-2: var(--color-neutral-900);
		--surface-3: var(--color-neutral-800);

		--accent: var(--color-neutral-50);
		--accent-foreground: var(--eclipse);

		--accent-soft: var(--color-neutral-800);
		--accent-soft-foreground: var(--color-neutral-200);

		/* Status Colors */
		--success: oklch(59.6% 0.145 163.225);
		--success-foreground: oklch(100% 0 0);
		--success-soft: oklch(69.6% 0.17 162.48 / 0.1);
		--success-soft-foreground: oklch(76.5% 0.177 163.223);

		--warning: oklch(82.8% 0.189 84.429);
		--warning-foreground: oklch(27.9% 0.077 45.635);
		--warning-soft: oklch(82.8% 0.189 84.429 / 0.1);
		--warning-soft-foreground: oklch(82.8% 0.189 84.429);

		--danger: oklch(57.7% 0.245 27.325);
		--danger-foreground: oklch(97.1% 0.013 17.38);
		--danger-soft: oklch(63.7% 0.237 25.331 / 0.1);
		--danger-soft-foreground: oklch(70.4% 0.191 22.216);

		--info-soft: oklch(68.5% 0.169 237.323 / 0.1);
		--info-soft-foreground: oklch(82.8% 0.111 230.318);

		/* Component Colors */
		--segment: oklch(1 0 0 / 16%);
		--segment-foreground: var(--foreground);

		/* Misc Colors */
		--border: oklch(1 0 0 / 12%);
		--divider: var(--color-neutral-800);
		--focus: oklch(100% 0 0 / 50%);
		--link: var(--foreground);

		/* Shadows */
		--panel-shadow:
			0 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 2px 8px 0 rgba(0, 0, 0, 0.08);
		--field-shadow:
			0 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		--mini-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
		--mini-shadow-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.5) inset;
	}
}
